 /* toggle button */

 .menu__toggler {
 	z-index: 999;
 	height: 40px;
 	width: 30px;
 	outline: none;
 	cursor: pointer;
 	display: flex;
 	align-items: center;
 }

 .menu__toggler span,
 .menu__toggler span::before,
 .menu__toggler span::after {
 	position: absolute;
 	content: '';
 	width: 28px;
 	height: 2.5px;
 	background: black;
 	border-radius: 20px;
 	transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
 }
 .menu__toggler span::before {
 	top: -8px;
 }
 .menu__toggler span::after {
 	top: 8px;
 }
 .menu__toggler.active > span {
 	background: transparent;
 }
 .menu__toggler.active > span::before, .menu__toggler.active > span::after {
 	background: black;
 	top: 0px;
 }
 .menu__toggler.active > span::before {
 	-webkit-transform: rotate(-225deg);
 	transform: rotate(-225deg);
 }
 .menu__toggler.active > span::after {
 	-webkit-transform: rotate(225deg);
 	transform: rotate(225deg);
 }

 /* sidebar */

 .sidebar-menu {
 	text-transform: lowercase;
 	background: rgb(255,255,255,0.9);
 	position: fixed;
 	width: 20%;
 	height: 100%;

 	display: flex;
 	/* starting position */
 	left: -30%;
 	z-index: 998;
 	transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
 }

 .sidebar-menu:hover {
 	background: rgb(255,255,255,1);
 	transition: all 1s ease;
 }

 .sidebar-menu h2 {
 	font-size: 25px;
 	background: #333;
 	color: white;
 	margin-bottom: 30px;
 }

  .sidebar-menu span {
 	font-size: 15px;
 	margin-bottom: 5px;
 }

 .sidebar-menu ul {
 	list-style: none;
 	margin: 0;
 	padding: 0 20px;
 	margin-bottom: 30px;
 	font-size: 10px;
 }

  .sidebar-menu li {
 	margin: 10px 0;
 }

 .menu-border {
 	width: 20%;
 	height: 100%;
 }


 

 @media only screen and (max-width: 600px) {
 	.menu {
 		width: 250px;
 		left: -250px;
 		padding: 50px;
 	}
 }

 .sidebar-menu.active {
 	left: 0;
 }

 .sidebar-menu a {
 	text-decoration: none;
 	color: #333;
 }
