* {
  margin: 0 auto;
}

body {
	background: black;
	margin: 0 auto;
}

p {
	color: white;
}

.clock {
  width: 100%;  
  position: fixed;
  font-family: 'Fjalla One', sans-serif;
  font-size: 400px;
  color: white;
  text-align: center;
}

/* CITY */

.bg {
	position: fixed;
}


.center {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 30%;
	transform: translate(-50%, -50%);
}


.square {
	position: fixed;
	background: rgb(255, 255, 255, 1);
	top: 50%;
	left: 50%;
	width: 450px;
	height: 450px;
	transform: translate(-50%, -50%);
}

/* traffic */

.traffic-container {
  position: fixed;
  width: 100%;
  background: red;
}

.left {
  float: left;
}

.right {
  float: right;
}

#traffic-container {
margin-top: 70px;
color: white;
width: 100%;
height: 100%;
background: red;
}

.traffic {
	border: 1px white solid;
	width: 200px;
	height: 100%;  
	display: flex-wrap;
  align-items: center;
}

.circle {
  margin: 25px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: white;
}


@keyframes red {
  0% {
    background: #111;
  }
  2%,
  40% {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSdibGFjaycvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+");
  }
  42%,
  100% {
    background: #111;
  }
}

@keyframes amber {
  0%,
  20% {
    background: #111;
  }
  22%,
  40% {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMTAnIGhlaWdodD0nOScgZmlsbD0nYmxhY2snIC8+Cjwvc3ZnPg=="); 
  }
  42%,
  80% {
    background: #111;
  }
  82%,
  100% {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMTAnIGhlaWdodD0nOScgZmlsbD0nYmxhY2snIC8+Cjwvc3ZnPg=="); 
  }
}

@keyframes green {
  0%,
  40% {
    background: #111;
  }
  42%,
  80% {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nOScgaGVpZ2h0PSc5JyBmaWxsPSdibGFjaycgLz4KPC9zdmc+"); 
  }
  82%,
  100% {
    background: #111;
  }
}

.red {
  animation: red 10s linear infinite;
}

.amber {
  animation: amber 10s linear infinite;
}

.green {
  animation: green 10s linear infinite;
}

.blink {
  animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #fff;    }
}